body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
}

input[type="file"] {
  margin-bottom: 20px;
}

.fc-toolbar-chunk .fc-button.fc-timeZoneLabel-button {
  background: none;
  border: none;
  color: #000;
  cursor: default;
  pointer-events: none; /* Makes the button unclickable */
  font-weight: normal;
}
